<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>BarberSpa - Admin</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link th:href="@{/assets/img/LogoMusic.png}" rel="icon" />
    <link th:href="@{/assets/img/LogoMusic.png}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link th:href="@{/assets/css/main.css?v=1.3}" rel="stylesheet" />

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/assets/js/sweetalert-config.js}"></script>
  </head>

  <body class="admin-panel-scope">
    <div class="container">
      <!-- Sidebar Section -->
      <aside th:fragment="aside">
        <div class="toggle">
          <div class="logo">
            <img th:src="@{/assets/img/LogoMusic.png}" alt="Logo" />
            <h2>Barber<span class="danger">Music & Spa</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp"> close </span>
          </div>
        </div>

        <div class="sidebar">
          <a id="dashboard-link" th:href="@{/administrador}" class="active">
            <span class="material-icons-sharp"> dashboard </span>
            <h3>Panel</h3>
          </a>

          <a id="agendamientos-link" th:href="@{/agendamientos}">
            <span class="material-icons-sharp"> receipt_long </span>
            <h3>Agendamientos</h3>
          </a>

          <a id="sucursales-link" th:href="@{/sucursales}">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Sucursales</h3>
          </a>

          <a id="servicios-link" th:href="@{/servicios}">
            <span class="material-icons-sharp"> insights </span>
            <h3>Servicios</h3>
          </a>

          <a id="productos-link" th:href="@{/productos}">
            <span class="material-icons-sharp"> inventory </span>
            <h3>Productos</h3>
          </a>

          <a id="ordenes-link" th:href="@{/administrador/ordenes}">
            <span class="material-icons-sharp"> mail_outline </span>
            <h3>Ordenes</h3>
            <span class="message-count"
              ><b style="color: var(--color-b)" th:text="${totalOrdenes}"></b
            ></span>
          </a>

          <a id="nuevo-admin-link" th:href="@{/administrador/nuevo}">
            <span class="material-icons-sharp"> add </span>
            <h3>Nuevo Admin</h3>
          </a>
          <a
            id="profile-link"
            th:href="@{/administrador/profile}"
            class="sidebar-item"
          >
            <span class="material-icons-sharp">person</span>
            <h3>Mi perfil</h3>
          </a>

          <a id="cerrar-sesion-link" th:href="@{/usuario/cerrar}">
            <span class="material-icons-sharp"> logout </span>
            <h3>Cerrar Sesión</h3>
          </a>
        </div>
      </aside>
      <!-- End of Sidebar Section -->

      <!-- Contenido principal que se reemplazará -->
      <main layout:fragment="content">
        <!-- El contenido específico de cada página irá aquí -->
      </main>

      <!-- Right Section -->
      <div th:fragment="right_section" class="right-section">
        <div class="nav">
          <button id="menu-btn">
            <span class="material-icons-sharp"> menu </span>
          </button>
          <div class="dark-mode">
            <span class="material-icons-sharp"> light_mode </span>
            <span class="material-icons-sharp active"> dark_mode </span>
          </div>

          <div class="profile">
            <div class="info">
              <p>
                Hey, <b th:text="${session.usuariosession.nombre}">Usuario</b>
              </p>
              <small class="text-muted" th:text="${session.usuariosession.rol}"
                >Rol</small
              >
            </div>
            <div class="profile-photo">
              <img
                th:src="${session.usuariosession.imagen != null && !#strings.isEmpty(session.usuariosession.imagen)} ? @{'/uploads/' + ${session.usuariosession.imagen}} : @{/assets/img/default_admin.png}"
                alt="Foto de perfil"
                onerror="this.onerror=null; this.src='/assets/img/default_admin.png';"
              />
            </div>
          </div>
        </div>
        <!-- End of Nav -->

        <div class="user-profile">
          <a th:href="@{/}">
            <div class="logo">
              <img th:src="@{/assets/img/LogoMusic.png}" />
              <h2>BarberMusic&Spa</h2>
              <p>Las mejores barberias y spas</p>
            </div>
          </a>
        </div>

        <div class="reminders">
          <div class="header">
            <h2>Recordatorios</h2>
            <a href="/recordatorios" class="add-reminder-button">
              <span class="material-icons-sharp"> notifications_none </span>
            </a>
          </div>

          <!-- Aquí irían los recordatorios -->

          <div class="notification add-reminder">
            <a href="/recordatorios/create">
              <div>
                <span class="material-icons-sharp"> add </span>
                <h3>Añadir Recordatorio</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/assets/js/admin.js}"></script>
    <div th:fragment="js-scripts">
      <!-- Pueden ir otros scripts específicos de la página aquí -->
    </div>
  </body>
</html>
